<?xml version="1.0"?>
<model>
  <name>Thymio</name>
  <version>1.0</version>
  <sdf>urdf/thymio.sdf</sdf>
  <author>
    <name>Jerome Guzzi</name>
    <email>jerome@idsia.ch</email>
  </author>
  <description>
    The Thymio model with motorized wheels, odometry, proximity sensors, ground sensors and imu.
  </description>
</model>
